---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = 'Bitki fabrikalarının verimlilik ve sürdürülebilirlik sorunlarını çözmek için buradayız.';
---

<Layout title="Optimised Harvest Technologies">
    <ContextAlert class="mb-8" />

    <Markdown content={explainer} class="mb-10 text-4xl text-gray-800 font-family:'Montserrat', sans-serif;" />
    <p>
        <a href="https://form.jotform.com/252913536540961" target="_blank" class="btn btn-lg sm:min-w-64">Sizin fabrikanızda en büyük zorluk nedir?</a>
    </p>
</Layout>
