---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer =
    'Zaman ayırdığınız için teşekkür edeeriz! Geri bildiriminiz, bitki fabrikalarının verimlilik ve sürdürülebilirlik sorunlarını çözmemize yardımcı olacak.';
---

<Layout title="Optimised Harvest Technologies">
    <ContextAlert class="mb-8" />

    <Markdown content={explainer} class="mb-10 text-4xl text-gray-800 font-family:'Montserrat', sans-serif;" />
    <p>
        <a href="/form" target="_blank" class="btn btn-lg sm:min-w-64">Merak ettiğiniz her şeyi bize sorabilirsiniz.</a>
    </p>
</Layout>
