---
const navItems = [
    { linkText: 'Biz Kimiz?', href: '/aboutus' },
    { linkText: 'İletişim', href: '/contact' }
];
---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</footer>
