<section class="thanks-wrapper">
    <img src="/icon-thank-you.svg" alt="thanks icon" />

    <h1>Thank you!</h1>
    <p>
        Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at
        support@loremgaming.com.
    </p>
</section>

<style>
    .thanks-wrapper {
        display: none;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    img {
        width: min-content;
        display: block;
        margin-bottom: 1em;
    }

    h1 {
        color: var(--marine-blue);
        font-size: 1.6em;
    }

    p {
        color: var(--darker);
        max-width: 50ch;
    }
</style>
